* {
  margin: 0;
  padding: 0;
}

#wrapper {
    width: 426px;
    background: #7CCB7B;
    margin: 0 auto;
    padding: 25px;
}

.main-heading {
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 28px;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
#wrapper p {
  font-size: 12px;
  line-height: 14px;
   margin-bottom: 20px;
}
.heading {
  color: #1A47E7;
  font-size: 15px;
  padding-bottom: 5px;
}
.education-wrapper {
 margin-bottom: 15px;
}

.education h3{
 font-size: 15px;
  color: #000000;
}

.edu-years {
 display: block;
  font-size: 15px;
  color: #808080;
}
.edu-specialization {
  display: block;
  font-size: 15px;
  color: #000000;
  padding-bottom: 5px;
  }